//- Dodaj javascripte
//- Dodaj JQuery
script(type="text/javascript", src="https://code.jquery.com/jquery-3.1.0.min.js")
//- Dodaj vlastitu skriptu
script(type="text/javascript", src="js/main.min.js")
